* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(37, 37, 37);
}

h1 {
  text-align: center;
  color: whitesmoke;
  margin: 1.5rem 0;
  font-size: 2.5rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 45px;
  justify-content: center;
}
.gallery img {
  width: 25rem;
  cursor: pointer;
}

.viewer {
  background-color: rgba(0, 0, 0, 0.539);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  display: none;
}

#active {
  display: grid;
  text-align: center;
  place-items: center;
}
